{% extends 'store/main.html' %} 
{% load static %} 
{% block content %} 
{% include 'store/topnav.html' %} 
{% include 'store/navbar.html' %}

<div class="login_sec">
    <div class="container">
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Products</li>
        </ol>
        <h2>{{category_list.name}}</h2>
        
        <div class="col-md-12 product-model-sec">
            {% for product in page_obj.object_list %} 
                <a href="{% url 'single' product.id %}">
                    <div class="product-grid love-grid">
                        <div class="more-product"><span> </span></div>						
                            <div class="product-img b-link-stripe b-animate-go  thickbox">
                                <img src="{{product.image.url}}" class="img-responsive" alt=""/>
                                <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">							
                                <button class="btns"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</button>
                                </h4>
                                </div>
                           </div>
                    
                </a>
                    
                            <div class="product-info simpleCart_shelfItem">
                                <div class="product-info-cust prt_name">
                                    <h4>{{product.name}}</h4>
                                    <p>ID: {{product.code}}</p>							
                                </div>													
                                <div class="clearfix"> </div>
                            </div>
                    </div>
            {% endfor %} 
        </div> 
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              {%if page_obj.has_previous %} 
              <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
              {% endif %}
            </li>
            <li class="page-item"><a class="page-link">{{page_obj.number}}</a></li>
            <li class="page-item">
              {%if page_obj.has_next %}
              <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
              {% endif %}
            </li>
          </ul>
        </nav>
        <!-- <center>
          {%if page_obj.has_previous %} 
              <a href="?page={{page_obj.previous_page_number}}">Previous</a> 
          {% endif %}
          <span>{{page_obj.number}}</span> 
          
          {%if page_obj.has_next %}
              <a href="?page={{page_obj.next_page_number}}">Next</a>
          {% endif %}
      </center> -->


            
    </div>